body {
	font-family: 'Open Sans',sans-serif;
	background-color: rgb(100,100,70);
}
.container{
	width: 1000px;
	height: 550px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);
	margin-left: 160px ;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 15px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result{
	height: 120px;
}
.history{
	text-align: right;
	height: 22px;
	width: 280px;
	margin: 10px 20px;
	//padding-top: 20px;
	font-size: 15px;
	//color: #919191;
	border-color: white;
	//margin-left: 120px;
}
.output{
	text-align: right;
	height: 60px;
	width: 280px;
	margin: 10px 20px;
	font-size: 30px;
	border-color: white;
}
#keyboard{
	height: 400px;
}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.number{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus{
	outline: 0;
}

input:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
input:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
input:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
input:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
input:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}